.container{
    position: absolute;
    border: 2px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    height: 30%;
    margin-left: 35%;
    margin-top:15%;
}

.form-group{
    padding-bottom: 7%;
    display: flex;
    justify-content: space-between;
}